*.h.in
/debug
/release
/autom4te.cache
bfariadne/src/.deps
bfariadne/src/.dirstamp
bflibrary/autom4te.cache
bflibrary/.deps
bflibrary/libbullfrog.a
bflibrary/Makefile
bflibrary/Makefile.in
bflibrary/referenc/tst*.png
bflibrary/config.status
bflibrary/config.guess
bflibrary/config.sub
bflibrary/config.log
bflibrary/aclocal.m4
bflibrary/tests/.deps
bflibrary/tests/.dirstamp
bflibrary/src/general/.deps
bflibrary/src/general/.dirstamp
bflibrary/src/x86-win-sdl/.deps/
bflibrary/src/x86-win-sdl/.dirstamp
bflibrary/src/x86-win-sdl2/.deps/
bflibrary/src/x86-win-sdl/.dirstamp
bflibrary/src/general/.deps
bflibrary/src/general/.dirstamp
bflibrary/src/x86-win-sdl/.deps/
bflibrary/src/x86-win-sdl/.dirstamp
bflibrary/src/x86-win-sdl2/.deps/
bflibrary/src/x86-win-sdl/.dirstamp
bflibrary/include/bfconfig.h
bflibrary/include/stamp-h1
bflibrary/m4/pkg.m4
bflibrary/m4/sdl.m4
bflibrary/m4/sdl2.m4
src/swars
src/swars.exe
src/swars.o
src/config.h
src/stamp-h1
bfsoundlib/include/bsndconf.h
bfsoundlib/include/stamp-h1
bfsoundlib/autom4te.cache
bfsoundlib/Makefile
bfsoundlib/src/.deps
bfsoundlib/src/.dirstamp
bfsmacklib/src/.deps
bfsmacklib/src/.dirstamp
bfsoundlib/autom4te.cache
bfsoundlib/Makefile
bfsoundlib/Makefile.in
bfsoundlib/config.status
bfsoundlib/config.guess
bfsoundlib/config.sub
bfsoundlib/config.log
bfsoundlib/aclocal.m4
bfsoundlib/libbfsound.a
bfsoundlib/m4/pkg.m4
m4/pkg.m4
m4/sdl.m4
m4/sdl2.m4

config.status
config.guess
config.sub
config.log
Makefile
Makefile.in
aclocal.m4
compile
configure
depcomp
install-sh
ltmain.sh
missing
*~
*.o
src/.deps
test-driver
